global_defs {
  notification_email {
  }
  router_id LVS_DEVEL
  vrrp_skip_check_adv_addr
  vrrp_garp_interval 0
  vrrp_gna_interval 0
}

vrrp_script chk_haproxy {
  script "killall -0 haproxy"
  interval 2
  weight 2
}

vrrp_instance haproxy-vip {
  state BACKUP
  priority 100
  interface {{ ansible_facts.default_ipv4.interface }}
  virtual_router_id 60
  advert_int 1
  authentication {
    auth_type PASS
    auth_pass 1111
  }
  unicast_src_ip {{ ansible_facts.default_ipv4.address }}
  unicast_peer {
    {{ hostvars[inventory_hostname].peer_host }}
  }

  virtual_ipaddress {
    {{ k8s_installation_virtual_ipaddress }}
  }

  track_script {
    chk_haproxy
  }
}
